.da-debug-log__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0; }
  .da-debug-log__actions > li {
    margin: 0;
    padding-right: 10px; }
    .da-debug-log__actions > li:last-child {
      padding: 0; }

.da-debug-log__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(29, 35, 39, 0.55);
  cursor: default; }
  .da-debug-log__status span:last-child:not(:first-child) {
    margin-left: 5px; }

.da-debug-log__status_success {
  color: #46b450; }
  .da-debug-log__status_success a {
    color: #46b450; }

.da-debug-log__status_error {
  color: #d9534f; }
  .da-debug-log__status_error a {
    color: #d9534f; }

.da-debug-log__container {
  margin-top: 10px; }

.da-debug-log__content {
  font-family: monospace; }

.da-debug-log__content_error {
  color: #d63638; }

.da-debug-log__content_empty {
  font-family: inherit;
  font-style: italic; }

