.da-debug-log-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .da-debug-log-actions > li {
    margin: 0;
    padding-right: 7px; }
    .da-debug-log-actions > li:last-child {
      padding: 0; }

