.da-setting-checkbox label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.da-setting-checkbox__description {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px; }

.da-setting-checkbox_disabled .da-setting-checkbox__description {
  color: rgba(29, 35, 39, 0.55); }

.da-setting-text input {
  width: 300px; }
  .da-setting-text input[type="number"] {
    width: 100px; }

.da-setting-text__description {
  display: block;
  margin-top: 6px;
  font-size: 13px;
  color: rgba(29, 35, 39, 0.55); }

.da-setting-status {
  font-size: 13px;
  cursor: default; }

.da-setting-status__label {
  padding: 3px 12px;
  color: #fff;
  border-radius: 50px; }

.da-setting-status__label_disabled {
  background-color: #a3abb0; }

.da-setting-status__label_success {
  background-color: #46b450; }

.da-setting-status__label_failure {
  background-color: #d9534f; }

.da-setting-status__description {
  margin-top: 8px;
  color: rgba(29, 35, 39, 0.55); }

.da-setting-page form {
  max-width: 760px; }

.da-setting-page .form-table th {
  vertical-align: middle; }

.da-setting-list {
  padding-left: 20px;
  list-style: disc; }

.da-setting-section__description {
  margin-top: 1.5em; }

h2 + .da-setting-section__description {
  margin-top: 0; }

.da-setting-page__title-info-link {
  width: 18px;
  height: 18px;
  margin-left: 7px;
  font-size: 18px;
  text-decoration: none; }

.da-setting__error-text {
  color: #d9534f; }

